# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# build files
*.o
*.d

#binaries
*.so

#libs
*.a

#model files
*.mdl

#files created by build
*.apk
*.ap_
*.class
drbeef-release-key.keystore
projects/Android/build/*
assets/*
*.json
*.bin
*.ser
Projects/Android/.externalNativeBuild/*
Projects/Android/.cxx/*
Projects/Android/.idea/*
Projects/Android/jni/src/gl4es/spec/xml/*
Projects/Android/.idea/vcs.xml
Projects/Android/jni/src/gl4es/spec/xml/glx.xml
Projects/Android/.idea/runConfigurations.xml
Projects/Android/.gradle/*
Projects/Android/Android.iml
Projects/Android/Android.iml
Projects/Android/local.properties
