# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# build files
*.o
*.d

#binaries
*.so

#libs
*.a

#model files
*.mdl

#files created by build
*.apk
*.ap_
*.class
drbeef-release-key.keystore
projects/Android/build/*
projects/Android/.idea/*
Projects/Android/.cxx/*
Projects/Android/.externalNativeBuild/*
Projects/Android/.gradle/*
Projects/Android/.idea/codeStyles/Project.xml
.idea/*
.gradle/*
assets/*
*.json
*.bin
*.ser
Projects/Android/jni/src/gl4es/spec/xml/*
Projects/Android/.idea/vcs.xml
Projects/Android/jni/src/gl4es/spec/xml/glx.xml
Projects/Android/.idea/runConfigurations.xml
Projects/Android/.gradle/*
Projects/Android/Android.iml
Projects/Android/Android.iml
Projects/Android/local.properties
Projects/Android/.idea/.name
Projects/Android/jni/SupportLibs/liboggvorbis/libs/armeabi-v7a/libogg.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/armeabi-v7a/libvorbis-jni.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/armeabi-v7a/libvorbis.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/armeabi/libogg.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/armeabi/libvorbis-jni.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/armeabi/libvorbis.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/mips/libogg.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/mips/libvorbis-jni.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/mips/libvorbis.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/x86/libogg.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/x86/libvorbis-jni.so
Projects/Android/jni/SupportLibs/liboggvorbis/libs/x86/libvorbis.so
build/intermediates/lint-cache/maven.google/com/android/support/group-index.xml
build/intermediates/lint-cache/maven.google/master-index.xml
build/intermediates/lint-cache/sdk-registry.xml/sdk-registry.xml
